/* src/components/ChatWindow.css */

/* Base Styles */
.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.back-button:hover {
  color: #007bff;
  background-color: #e0e0e0;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}

.chat-header h2 {
  flex-grow: 1;
  margin: 0;
  text-align: center;
  font-size: 18px;
}


.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.settings-button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.settings-button:hover {
  background-color: #e0e0e0;
}

.messages {
  flex: 1;
  padding: 10px 20px;
  overflow-y: auto;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

.loading-indicator {
  text-align: center;
  color: #666;
  margin-top: 10px;
}

.input-area {
  display: flex;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.input-area textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-area textarea:focus {
  outline: none;
  border-color: #007bff;
}

.input-area button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.input-area button:disabled {
  background-color: #94d3a2;
  cursor: not-allowed;
}

.input-area button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .chat-header {
    padding: 10px;
  }

  .chat-header h2 {
    font-size: 18px;
  }

  .back-button {
    font-size: 16px;
    margin-right: 5px;
  }

  .settings-button {
    padding: 5px 8px;
    font-size: 14px;
  }

  .messages {
    padding: 10px;
  }

  .input-area {
    padding: 10px;
  }

  .input-area textarea {
    font-size: 14px;
    padding: 8px;
  }

  .input-area button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
