/* src/styles.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

input, textarea {
  font-size: 1em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}
